@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Gasoek+One&family=Oswald&family=Poppins:wght@400;500&family=Press+Start+2P&family=Righteous&family=Roboto:ital,wght@0,300;0,400;1,100;1,400&family=Ubuntu&family=Zilla+Slab:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css");

.banner .slick-arrow{
    position: absolute;
    top: 45%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40px;

    height: 40px;

    

}
.banner .slick-arrow.slick-next{
    left: 89%;
}

.slick-prev {
    left: 45px;
  }
.swiper-button{
    width: 50px;
    height: 30px;
}
  .swiper-button-prev{
    position: absolute!;
    width: 50px !important;
    height: 50px !important;
    padding: 1vw !important;
    background-color: white;
    border-radius: 50%;
    color: gray;
    left: -1% !important;
    z-index: 100;
  }
  .swiper-button-next {
    width: 50px !important;
    height: 50px!important;
    padding: 1vw;
    background-color: white;
    border-radius: 50%;
    color: gray;
    left: 94%;
  }

  .category .swiper-button-prev{
    position: absolute!;
    width: 50px !important;
    height: 50px !important;
    padding: 1vw !important;
    background-color: rgb(117, 150, 164);
    border-radius: 50%;
    color: gray;
    /* left: -1% !important; */
    top:10%;
    left: 80% !important;
    z-index: 100 !important;
  }
  .category .swiper-button-next{
    position: absolute!;
    width: 50px !important;
    height: 50px !important;
    padding: 1vw !important;
    background-color: rgb(101, 142, 160);
    border-radius: 50%;
    color: gray;
    /* left: -1% !important; */
    top:10%;
    right: 10%;
    z-index: 9 !important;
  }
@tailwind base;


@tailwind components;
@tailwind utilities;